
@font-face {
	font-family: 'Aileron UltraLight';
	src: url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-UltraLight.eot');
	src: url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-UltraLight.woff') format('woff'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-UltraLight.ttf') format('truetype'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-UltraLight.svg#aileronultralight') format('svg');
		font-weight: normal;
		font-style: normal;
}


@font-face {
	font-family: 'Aileron Thin';
	src: url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-Thin.eot');
	src: url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-Thin.eot?#iefix') format('embedded-opentype'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-Thin.woff') format('woff'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-Thin.ttf') format('truetype'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-Thin.svg#aileronthin') format('svg');
		font-weight: normal;
		font-style: normal;
}


@font-face {
	font-family: 'Aileron Thin Italic';
	src: url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-ThinItalic.eot');
	src: url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-ThinItalic.woff') format('woff'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-ThinItalic.ttf') format('truetype'),
		url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/fonts/Aileron-ThinItalic.svg#aileronthin_italic') format('svg');
		font-weight: normal;
		font-style: normal;
}

/* GENERATED BY SCALIA THEME OPTIONS */

@media (min-width: 768px) and (max-width: 979px) {
	#site-header .site-title,
	#site-header .primary-navigation {
		display: block;
		text-align: center;
	}
	#site-header.fixed.shrink .site-title {
		display: none;
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	#site-header .site-title,
	#site-header .primary-navigation {
		display: block;
		text-align: center;
	}
	#site-header.fixed.shrink .site-title {
		display: none;
	}
}

#primary-menu.no-responsive > li > a {
	font-family: 'Arvo';
}

#primary-menu.no-responsive > li > a {
	font-weight: normal;
}

#primary-menu.no-responsive > li > a {
	font-size: 15px;
}

#primary-menu.no-responsive > li > a {
	line-height: 25px;
}

#primary-menu.no-responsive > li.megamenu-enable > ul li,
#primary-menu.no-responsive > li li > a,
.portfolio-filters-resp ul li a,
.widget_nav_menu ul.menu,
.widget_submenu > div > ul,
.widget_categories > ul,
.widget_product_categories > ul,
.widget_pages > ul {
	font-family: 'Arvo';
}
.primary-navigation.responsive li a {
	font-family: 'Arvo';
}

#primary-menu.no-responsive > li.megamenu-enable > ul li,
#primary-menu.no-responsive > li li > a,
.portfolio-filters-resp ul li a,
.widget_nav_menu ul.menu,
.widget_submenu > div > ul,
.widget_categories > ul,
.widget_product_categories > ul,
.widget_pages > ul {
	font-weight: normal;
}
.primary-navigation.responsive li a {
	font-weight: normal;
}


#primary-menu.no-responsive > li.megamenu-enable > ul li,
#primary-menu.no-responsive > li li > a,
.portfolio-filters-resp ul li a,
.widget_nav_menu ul.menu,
.widget_submenu > div > ul,
.widget_categories > ul,
.widget_product_categories > ul,
.widget_pages > ul {
	font-size: 15px;
}
.primary-navigation.responsive li a {
	font-size: 15px;
}

#primary-menu.no-responsive > li.megamenu-enable > ul li,
#primary-menu.no-responsive > li li > a,
.portfolio-filters-resp ul li a,
.widget_nav_menu ul.menu,
.widget_submenu > div > ul,
.widget_categories > ul,
.widget_product_categories > ul,
.widget_pages > ul {
	line-height: 25px;
}
.primary-navigation.responsive li a {
	line-height: 25px;
}

.styled-subtitle,
.sc-pagination a,
.sc-pagination .current,
.team-person-name,
.pricing-price .time,
.sc-testimonial-name,
.diagram-circle .text div,
.diagram-circle .text div span.title,
.diagram-circle .text div span.summary,
.vc_pie_chart .vc_pie_chart_value,
.sc-counter-text,
.comment-author .fn,
.products .product-title,
form.cart .quantity .qty,
.shop_table .quantity .qty,
.woocommerce-before-cart .cart-short-info,
input[type="text"].coupon-code,
.cart_totals table th,
.order-totals table th,
.cart_totals table .shipping td,
.woocommerce-message,
.woocommerce-info,
.woocommerce ul.woocommerce-error li,
.woocommerce table.checkout-cart-info-table tr th,
.woocommerce table.checkout-cart-info-table tr.shipping td,
.sc-teams-name,
.sc-teams-phone,
.widget_calendar caption,
.entry-title,
.blog-style-timeline .post-time,
.sc-dropcap.sc-dropcap-style-medium {
	font-family: 'Arvo';
}

.styled-subtitle,
.sc-pagination a,
.sc-pagination .current,
.team-person-name,
.pricing-price .time,
.sc-testimonial-name,
.diagram-circle .text div,
.diagram-circle .text div span.title,
.diagram-circle .text div span.summary,
.vc_pie_chart .vc_pie_chart_value,
.sc-counter-text,
.comment-author .fn,
.products .product-title,
form.cart .quantity .qty,
.shop_table .quantity .qty,
.woocommerce-before-cart .cart-short-info,
input[type="text"].coupon-code,
.cart_totals table th,
.order-totals table th,
.cart_totals table .shipping td,
.woocommerce-message,
.woocommerce-info,
.woocommerce ul.woocommerce-error li,
.woocommerce table.checkout-cart-info-table tr th,
.woocommerce table.checkout-cart-info-table tr.shipping td,
.sc-teams-name,
.sc-teams-phone,
.widget_calendar caption,
.entry-title,
.blog-style-timeline .post-time,
.sc-dropcap.sc-dropcap-style-medium {
	font-weight: normal;
}

.styled-subtitle,
.sc-pagination a,
.sc-pagination .current,
.team-person-name,
.pricing-price .time,
.sc-testimonial-name,
.vc_pie_chart,
.sc-counter-text,
.comment-author .fn,
.products .product-title,
form.cart .quantity .qty,
.shop_table .quantity .qty,
.woocommerce-before-cart .cart-short-info,
input[type="text"].coupon-code,
.cart_totals table th,
.order-totals table th,
.cart_totals table .shipping td,
.woocommerce-message,
.woocommerce-info,
.woocommerce ul.woocommerce-error li,
.woocommerce table.checkout-cart-info-table tr th
.woocommerce table.checkout-cart-info-table tr.shipping td,
.sc-teams-name,
.sc-teams-phone,
.widget_calendar caption,
.entry-title,
.blog-style-timeline .post-time,
.sc-dropcap.sc-dropcap-style-medium {
	font-size: 17px;
}

.styled-subtitle,
.team-person-name,
.pricing-price .time,
.sc-testimonial-name,
.sc-counter-text,
.comment-author .fn,
.products .product-title,
.woocommerce-before-cart .cart-short-info,
.cart_totals table th,
.order-totals table th,
.cart_totals table .shipping td,
.woocommerce-message,
.woocommerce-info,
.woocommerce ul.woocommerce-error li,
.woocommerce table.checkout-cart-info-table tr th,
.woocommerce table.checkout-cart-info-table tr.shipping td,
.sc-teams-name,
.sc-teams-phone,
.widget_calendar caption,
.entry-title,
.blog-style-timeline .post-time {
	line-height: 24px;
}

.blog article .entry-title {
	font-family: 'Aileron UltraLight';
}

.blog article .entry-title {
	font-weight: normal;
}

.blog article .entry-title {
	font-size: 38px;
}
.blog-style-default article.sticky .entry-title {
	font-size: 62px;
}
@media (max-width: 768px) {
	.blog-style-default article.sticky .entry-title {
		font-size: 38px;
	}
}

.blog article .entry-title {
	line-height: 50px;
}
.blog-style-default article.sticky .entry-title {
	line-height: 81.25px;
}
@media (max-width: 768px) {
	.blog-style-default article.sticky .entry-title {
		line-height: 50px;
	}
}

h1,
.title-h1 {
	font-family: 'Aileron UltraLight';
}

h1,
.title-h1 {
	font-weight: normal;
}

h1,
.title-h1 {
	font-size: 75px;
}

h1,
.title-h1 {
	line-height: 100px;
}

h2,
.title-h2,
.single-product-content .price {
	font-family: 'Aileron UltraLight';
}

h2,
.title-h2,
.single-product-content .price {
	font-weight: normal;
}

h2,
.title-h2,
.single-product-content .price {
	font-size: 52px;
}

h2,
.title-h2 {
	line-height: 72px;
}

h3,
.title-h3,
.cart_totals table .order-total td,
.woocommerce table.shop_table.order-details tr.cart_item td.product-total .amount,
.woocommerce table.shop_table.order-details tr.order_item td.product-total .amount,
.sc-dropcap {
	font-family: 'Aileron UltraLight';
}

h3,
.title-h3,
.cart_totals table .order-total td,
.woocommerce table.shop_table.order-details tr.cart_item td.product-total .amount,
.woocommerce table.shop_table.order-details tr.order_item td.product-total .amount,
.sc-dropcap {
	font-weight: normal;
}

h3,
.title-h3,
.cart_totals table .order-total td,
.woocommerce table.shop_table.order-details tr.cart_item td.product-total .amount,
.woocommerce table.shop_table.order-details tr.order_item td.product-total .amount,
.sc-dropcap {
	font-size: 38px;
}

h3,
.title-h3,
.cart_totals table .order-total td,
.woocommerce table.shop_table.order-details tr.cart_item td.product-total .amount,
.woocommerce table.shop_table.order-details tr.order_item td.product-total .amount {
	line-height: 55px;
}

h4,
.title-h4,
.portfolio.columns-1 .portfolio-item .caption .title,
h3.comment-reply-title,
.single-product-content .price del {
	font-family: 'Aileron UltraLight';
}
@media only screen and (min-width: 992px) and (max-width: 1150px) {
	.with-sidebar .portfolio.hover-horizontal-sliding .overlay .links .caption .title {
		font-family: 'Aileron UltraLight';
	}
}

h4,
.title-h4,
.portfolio.columns-1 .portfolio-item .caption .title,
h3.comment-reply-title,
.single-product-content .price del {
	font-weight: normal;
}
@media only screen and (min-width: 992px) and (max-width: 1150px) {
	.with-sidebar .portfolio.hover-horizontal-sliding .overlay .links .caption .title {
		font-weight: normal;
	}
}

h4,
.title-h4,
.portfolio.columns-1 .portfolio-item .caption .title,
h3.comment-reply-title,
.single-product-content .price del {
	font-size: 32px;
}
@media only screen and (min-width: 992px) and (max-width: 1150px) {
	.with-sidebar .portfolio.hover-horizontal-sliding .overlay .links .caption .title {
		font-size: 32px;
	}
}

h4,
.title-h4,
.portfolio.columns-1 .portfolio-item .caption .title,
h3.comment-reply-title {
	line-height: 46px;
}
@media only screen and (min-width: 992px) and (max-width: 1150px) {
	.with-sidebar .portfolio.hover-horizontal-sliding .overlay .links .caption .title {
		line-height: 46px;
	}
}

h5,
.sc-table thead th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.title-h5,
.shop_table td.product-price,
.shop_table td.product-subtotal,
.cart_totals table .cart-subtotal td,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total,
.resp-tabs-list li {
	font-family: 'Aileron Thin';
}

h5,
.sc-table thead th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.title-h5,
.shop_table td.product-price,
.shop_table td.product-subtotal,
.cart_totals table .cart-subtotal td,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total,
.resp-tabs-list li {
	font-weight: normal;
}

h5,
.sc-table thead th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.title-h5,
.shop_table td.product-price,
.shop_table td.product-subtotal,
.cart_totals table .cart-subtotal td,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total,
.resp-tabs-list li {
	font-size: 26px;
}

h5,
.sc-table thead th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.title-h5,
.shop_table td.product-price,
.shop_table td.product-subtotal,
.cart_totals table .cart-subtotal td,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total,
.resp-tabs-list li {
	line-height: 38px;
}

h6,
.title-h6,
.sc_accordion_header a,
.widget_meta li,
.widget_rss li,
.widget_archive li,
.wpb_toggle {
	font-family: 'Aileron Thin';
}

h6,
.title-h6,
.sc_accordion_header a,
.widget_meta li,
.widget_rss li,
.widget_archive li,
.wpb_toggle {
	font-weight: normal;
}

h6,
.title-h6,
.sc_accordion_header a,
.widget_meta li,
.widget_rss li,
.widget_archive li,
.wpb_toggle {
	font-size: 20px;
}

h6,
.title-h6,
.sc_accordion_header a,
.widget_meta li,
.widget_rss li,
.widget_archive li,
.wpb_toggle {
	line-height: 31px;
}

body,
option,
.portfolio.columns-1 .portfolio-item .caption .subtitle,
.gallery-item .overlay .subtitle,
.cart_totals table .shipping td label,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-price {
	font-family: 'Arvo';
}

body,
option,
.portfolio.columns-1 .portfolio-item .caption .subtitle,
.gallery-item .overlay .subtitle,
.cart_totals table .shipping td label,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-price {
	font-weight: normal;
}

body,
.inline-column,
option,
.portfolio.columns-1 .portfolio-item .caption .subtitle,
.gallery-item .overlay .subtitle,
.sc-gallery-grid.hover-zooming-blur .gallery-item .overlay .title,
.cart_totals table .shipping td label,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-price,
.portfolio-filters a {
	font-size: 15px;
}

body,
option,
.gallery-item .overlay .subtitle,
.cart_totals table .shipping td label,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-price {
	line-height: 25px;
}

.widget-title {
	font-family: 'Aileron UltraLight';
}

.widget-title {
	font-weight: normal;
}

.widget-title {
	font-size: 26px;
}

.widget-title {
	line-height: 50px;
}

.sc-button,
input[type='submit'],
.blog-load-more button,
.price_slider_amount .button {
	font-family: 'Arvo';
}

.sc-button,
input[type='submit'],
.blog-load-more button,
.price_slider_amount .button {
	font-weight: normal;
}

.sc-button,
widget a.sc-button,
input[type='submit'],
.blog-load-more button,
.price_slider_amount .button {
	font-size: 17px;
}

.sc-button,
input[type='submit'],
.blog-load-more button,
.price_slider_amount .button {
	line-height: 33px;
}

.sc-nivoslider-title {
	font-family: 'Roboto Condensed';
}

.sc-nivoslider-title {
	font-weight: 300;
}

.sc-nivoslider-title {
	font-size: 80px;
}

.sc-nivoslider-title {
	line-height: 100px;
}

.sc-nivoslider-description {
	font-family: 'Roboto';
}

.sc-nivoslider-description {
	font-weight: 100;
}

.sc-nivoslider-description {
	font-size: 36px;
}

.sc-nivoslider-description {
	line-height: 50px;
}

.portfolio-item-title,
.portfolio-item .caption .title,
.gallery-item .overlay .title,
.fancybox-title .slide-info-title,
.blog-style-default article.sticky .sticky-label,
.blog.blog-style-masonry article .description .title {
	font-family: 'Aileron Thin';
}

.portfolio-item-title,
.portfolio-item .caption .title,
.gallery-item .overlay .title,
.fancybox-title .slide-info-title,
.blog-style-default article.sticky .sticky-label,
.blog.blog-style-masonry article .description .title {
	font-weight: normal;
}

.portfolio-item-title,
.portfolio-item .caption .title,
.gallery-item .overlay .title,
.fancybox-title .slide-info-title,
.blog-style-default article.sticky .sticky-label,
.blog.blog-style-masonry article .description .title {
	font-size: 26px;
}

.portfolio-item-title,
.portfolio-item .caption .title,
.gallery-item .overlay .title,
.fancybox-title .slide-info-title,
.blog-style-default article.sticky .sticky-label,
.blog.blog-style-masonry article .description .title {
	line-height: 38px;
}

.portfolio-item-description,
.portfolio-item .caption .subtitle,
.fancybox-title .slide-info-summary,
.blog.blog-style-masonry article .description .summary {
	font-family: 'Arvo';
}

.portfolio-item-description,
.portfolio-item .caption .subtitle,
.fancybox-title .slide-info-summary,
.blog.blog-style-masonry article .description .summary {
	font-weight: normal;
}

.portfolio-item-description,
.portfolio-item .caption .subtitle,
.fancybox-title .slide-info-summary,
.blog.blog-style-masonry article .description .summary {
	font-size: 15px;
}

.portfolio-item-description,
.portfolio-item .caption .subtitle,
.fancybox-title .slide-info-summary,
.blog.blog-style-masonry article .description .summary {
	line-height: 25px;
}

.quickfinder-item-title,
.project_info-item-style-2 .title {
	font-family: 'Aileron Thin';
}

.quickfinder-item-title,
.project_info-item-style-2 .title {
	font-weight: normal;
}

.quickfinder-item-title,
.project_info-item-style-2 .title {
	font-size: 26px;
}

.quickfinder-item-title,
.project_info-item-style-2 .title {
	line-height: 38px;
}

.quickfinder-item-text {
	font-family: 'Arvo';
}

.quickfinder-item-text {
	font-weight: normal;
}

.quickfinder-item-text {
	font-size: 15px;
}

.quickfinder-item-text {
	line-height: 25px;
}

.gallery-title,
.sc-gallery-item-title {
	font-family: 'Aileron Thin';
}

.gallery-title,
.sc-gallery-item-title {
	font-weight: normal;
}

.gallery-title,
.sc-gallery-item-title {
	font-size: 26px;
}

.gallery-title,
.sc-gallery-item-title {
	line-height: 50px;
}

.gallery-description,
.sc-gallery-item-description {
	font-family: 'Arvo';
}

.gallery-description,
.sc-gallery-item-description {
	font-weight: normal;
}

.gallery-description,
.sc-gallery-item-description {
	font-size: 15px;
}

.gallery-description,
.sc-gallery-item-description {
	line-height: 25px;
}

.pricing-price {
	font-family: 'Roboto';
}

.pricing-cost {
	font-weight: 300;
}

.pricing-cost {
	font-size: 56px;
}

.pricing-cost {
	line-height: 56px;
}

.sc-testimonial-text,
.testimonials-style-1-text {
	font-family: 'Aileron Thin Italic';
}

.sc-testimonial-text,
.testimonials-style-1-text {
	font-weight: normal;
}

.sc-testimonial-text,
.testimonials-style-1-text {
	font-size: 32px;
}

.sc-testimonial-text,
.testimonials-style-1-text {
	line-height: 44px;
}

.sc-counter-number,
.diagram-circle .text div span {
	font-family: 'Roboto';
}

.sc-counter-number,
.diagram-circle .text div span {
	font-weight: 300;
}

.sc-counter-number {
	font-size: 42px;
}

.sc-counter-number {
	line-height: 52px;
}

.products .product-info .price ins,
.products .product-info .price .amount,
.widget_shopping_cart_content .quantity,
.widget_shopping_cart_content .total .amount {
	font-family: 'Roboto';
}

.products .product-info .price ins,
.products .product-info .price .amount,
.widget_shopping_cart_content .quantity,
.widget_shopping_cart_content .total .amount {
	font-weight: 300;
}

.products .product-info .price ins,
.products .product-info .price .amount {
	font-size: 26px;
}

.products .product-info .price ins,
.products .product-info .price .amount {
	line-height: 36px;
}

.pricing-column-top-choice .pricing-column-top-choice-text {
	font-family: 'Roboto Condensed';
}

.pricing-column-top-choice .pricing-column-top-choice-text {
	font-weight: 300;
}

.pricing-column-top-choice .pricing-column-top-choice-text {
	font-size: 21px;
}

.pricing-column-top-choice .pricing-column-top-choice-text {
	line-height: 18px;
}

body {
	background-color: #edeef0;
}


#site-header,
#site-header-wrapper,
.top-area-style-2 {
	background-color: #ffffff;
}
#site-header.fixed.shrink {
	background-color: rgba(255, 255, 255, 0.95);
}

.block-content,
.sc-wrapbox-style-12 .sc-wrapbox-inner,
.sc-table td,
body .sc-table-style-2 thead,
body .sc-table-style-2 tr:nth-child(2n) td,
.sc-table .tabletolist.nrh > li > ul > li,
.resp-tabs-container,
.resp-tab-content,
.resp-tab-active,
.sc-gallery .sc-gallery-thumbs-carousel-wrap .sc-gallery-item a,
.pricing-title,
.pricing-price,
.sc-clients-type-carousel-grid .sc-client-item a:hover,
.sc_client-carousel .sc-client-item a:hover,
.products .product-inner,
.sc-table .shop_table tbody tr,
.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce table.shop_table.order-details tr.cart_item,
.woocommerce table.shop_table.order-details tr.order_item,
.triangle-with-shadow:after,
.pricing-table-style-2 .pricing-column,
.pricing-table-style-3 .pricing-column,
.pricing-table-style-3 .highlighted .pricing-row,
.pricing-table-style-3 .highlighted .pricing-footer,
.blog-style-default article .post-image .sc-dummy,
.blog-style-default article.sticky .post-image .sc-dummy:after,
.blog-style-timeline.blog-style-styled_list1 .item-post .post-text,
.blog.blog-style-masonry article .description,
.portfolio-items-masonry .portfolio-item .caption,
.blog-style-default article.no-image .post-image .sc-dummy,
.project_info-item-style-1 .project_info-item .icon,
.wpb_toggle,
.page-title-style-2,
.top-area-socials .socials-item a,
.pricing-table-style-2 .highlighted .pricing-title-wrapper .pricing-title,
.portfolio-item .image .button .button-corner,
.portfolio .portfolio-item .overlay-line,
.sc-tabs-style-1 .sc_tabs_nav li.resp-tab-active,
.sc-tour-style-1 .sc_tabs_nav li.resp-tab-active,
.portfolio.portfolio-slider.full .portolio-slider-prev span,
.portfolio.portfolio-slider.full .portolio-slider-next span,
.quickfinder-item .quickfinder-animation,
.page-title-block.page-title-style-2,
.page-title-block.has-background-image {
	background-color: #ffffff;
}

.blog-style-default article.sticky .sticky-label,
#primary-navigation #primary-menu > li.menu-item-cart > a .minicart-item-count,
.sc-gallery-hover-zooming-blur .sc-gallery-preview-carousel-wrap .sc-gallery-item a:after,
.portfolio-item .image .button:before,
.portfolio-item .image .share a:hover,
.product .onsale,
.woocommerce ul.woocommerce-error li:before,
.pricing-column-top-choice .pricing-column-top-choice-text,
.widget .onsale:after,
.shop-widget-area .onsale,
.socials-sharing li a:hover:after,
.wpb_wrapper .vc_progress_bar .vc_label_units,
.portfolio-item .image .overlay .links a.icon:before,
.portfolio.hover-title .portfolio-item .caption .title,
.portfolio.hover-title.columns-4 .portfolio-item .caption .title,
.portfolio.hover-title .portfolio-item .caption .subtitle,
.portfolio.hover-title .portfolio-item .caption .info,
.portfolio.hover-title .portfolio-item .caption .info a,
.portfolio.hover-default .portfolio-item .image .overlay .links .caption .info a,
.portfolio.hover-default .portfolio-item .image .overlay .links .caption .info span.sep,
.sc-image a:after,
.sc-gallery-hover-default .sc-gallery-preview-carousel-wrap:hover .sc-prev:after,
.sc-gallery-hover-default .sc-gallery-preview-carousel-wrap:hover .sc-next:after,
.sc-gallery-hover-default .sc-gallery-preview-carousel-wrap .sc-gallery-item a:after,
.sc-gallery-hover-default .sc-gallery-preview-carousel-wrap .sc-gallery-item .sc-gallery-caption,
.gallery-item .overlay a.icon:before,
.gallery-item .overlay .title,
.gallery-item .overlay .subtitle,
div.blog article a.youtube:after,
div.blog article a.vimeo:after,
div.blog article a.self_video:after {
	color: #ffffff;
}
@media (min-width: 768px) {
	.blog-style-timeline .item-post .post-text:after {
		border-right: 20px solid #ffffff;
	}
}
@media (max-width: 768px) {
	.blog-style-timeline .item-post .post-text:after {
		border-bottom: 30px solid #ffffff;
	}
}
@media (max-width: 768px) {
	.blog-style-timeline .post-text:after,
	.blog-style-timeline.blog-style-styled_list1 .post-text:after,
	.blog-style-timeline.blog-style-styled_list2 .post-text:after {
		border-bottom: 30px solid #ffffff;
	}
}


#footer-nav,
#colophon .sc-custom-mailchimp input[type="email"] {
	background-color: #eceff2;
}

.sc-dummy,
.default-background,
.top-area-style-1,
.sc-wrapbox-style-7 .sc-wrapbox-inner,
.sc-table thead,
.sc-table tr:nth-child(2n) td,
body .sc-table-style-2 tr td:nth-child(2n),
.sc-table-style-1 .tabletolist.nrh > li > ul > li:nth-child(odd),
.sc-table-style-1 .tabletolist.rh > li > .titles,
.sc-table-style-2 .tabletolist .row_headers,
.pricing-table-style-1 .pricing-price-row,
.pricing-table-style-1 .pricing-row,
.pricing-table-style-1 .pricing-footer,
.pricing-title-new,
.highlighted .pricing-title,
.sc-clients-type-carousel-grid .sc-client-item a,
.sc_client-carousel .sc-client-item a,
.portfilio-top-panel,
.before-products-list,
.products .product-bottom,
.sc-woocommerce-tabs .sc-tabs #tab-additional_information .shop_attributes tr:nth-child(even) th,
.sc-woocommerce-tabs .sc-tabs #tab-additional_information .shop_attributes tr:nth-child(even) td,
.shipping-calculator-form-wrap,
.woocommerce-message,
.woocommerce-info,
ul.woocommerce-error li,
#primary-menu.no-responsive > li.menu-item-cart .widget_shopping_cart_content .minicart-bottom,
.woocommerce .checkout #payment .payment_methods li .payment_box,
.checkout-cart-info > td,
.woocommerce table.shop_table.order-details thead tr th,
.woocommerce #customer_login .col .login-box,
.testimonials-style-2-bg,
.testimonials-style-2-bg,
.widget .searchform,
.pricing-table-style-2 .highlighted .pricing-title,
.pricing-table-style-2 .pricing-price,
.pricing-table-style-3 .pricing-title,
.pricing-table-style-3 .pricing-row,
.pricing-table-style-3 .pricing-footer,
.sc-tabs-style-1 .sc_tabs_nav li,
.sc-tour-style-1 .sc_tabs_nav li,
.sc-tabs-style-1 .resp-accordion.resp-tab-active,
.sc-tour-style-1 .resp-accordion.resp-tab-active,
.sc-tabs-style-2 .resp-accordion.resp-tab-active,
.blog-style-timeline.blog-style-styled_list1 .item-post,
.blog-style-default article .post-image .sc-dummy:after,
.blog-style-default article.sticky .post-image .sc-dummy,
.widget_product_search,
.widget_recent_reviews .product_list_widget .wp-post-image,
.price_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all,
.project_info-item-style-1 .project_info-item .title,
.post-author-block,
.portfolio-item .image .button .button-corner b {
	background-color: #f0f0ed;
}
.sc-wrapbox-style-2,
.sc-wrapbox-style-3,
.sc-wrapbox-style-6,
.sc-wrapbox-style-8,
.sc-wrapbox-style-9,
.sc-wrapbox-style-10 {
	border-color: #f0f0ed;
}

.sc-table thead th,
.woocommerce table.shop_table.order-details thead tr th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.sc-table-style-1 .tabletolist.nrh .row_headers,
.team-person-name,
.pricing-price .time,
.sc_accordion_header a,
.sc-testimonial-name,
.comment-author .fn,
.shipping_calculator .shipping-calculator-button:before,
.pricing-price .time,
.sc-teams-name,
.sc-teams-phone,
.sc-team-style-horizontal .team-person-phone,
.widget_calendar caption,
.resp-tab-active,
.project_info-item-style-1 .project_info-item  .title,
.post-author-info .name,
.wpb_toggle,
.account-tittle,
.blog-style-timeline .post-time span,
.blog.blog-style-masonry article .description .tags a {
	color: #97a659;
}

.sc-gallery .sc-gallery-thumbs-carousel-wrap .sc-gallery-item.active a:before,
.portfolio-item .image .share a,
.portfolio-filters a:hover,
.portfolio-filters a.active,
.portfolio-filters a:hover .icon,
.portfolio-filters a.active .icon,
.gallery-item .overlay .subtitle a,
.products .product-info .price ins,
.products .product-info .price .amount,
.single-product-content .price del,
.shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details tr.cart_item td.product-name .product-info .styled-subtitle,
.woocommerce table.shop_table.order-details tr.order_item td.product-name .product-info .styled-subtitle,
.woocommerce table.shop_table.order-details tr.cart_item td.product-name .product-info h4 a,
.woocommerce table.shop_table.order-details tr.order_item td.product-name .product-info h4 a,
.widget_shopping_cart_content .quantity,
.woocommerce .checkout_coupon .styled-subtitle,
.woocommerce table.shop_table.order-details tr.cart_item td.product-total .amount,
.woocommerce table.shop_table.order-details tr.order_item td.product-total .amount,
.woocommerce .sc-products-price ins,
.sc-products-price > span,
.widget_product_search h4,
.widget-area .reviewer,
.widget_shopping_cart_content .quantity,
.widget_shopping_cart_content .total .amount {
	color: #A3B365;
}
.portfolio-item .image .button .button-corner span,
.pricing-table-style-3 .pricing-column-top-choice {
	background-color: #A3B365;
}
.sc-gallery .sc-gallery-thumbs-carousel-wrap .sc-gallery-item.active a {
	border: 4px solid #A3B365;
}
.portfolio-item .image .button {
	border-bottom-color: #A3B365;
}

.top-area-style-2,
.widget_archive li,
.widget_meta li,
.widget_rss li,
#primary-menu.no-responsive > li.megamenu-enable > ul > li span.megamenu-column-header {
	border-bottom: 1px solid #bcbebf;
}
.jtwt_tweet {
	border-top: 1px solid #bcbebf;
}
.skill-line {
	background-color: #bcbebf;
}

.bordered-box,
.sc-wrapbox-style-1,
.sc-wrapbox-style-4,
.sc-wrapbox-style-5,
.sc-wrapbox-style-7,
.sc-table-responsive .tabletolist.nrh > li > ul,
.sc-table-style-1 .tabletolist.rh > li > .titles,
.sc-table-style-2 .tabletolist.rh,
*:not(.sc-table) > table:not([class]):not([id]) tr:not([class]):not([id]) td:not([class]),
*:not(.sc-table) > table:not([class]):not([id]) tr:not([class]):not([id]) th:not([class]),
.team-person,
.portfolio-items-masonry .portfolio-item .caption,
.products .product-inner,
.widget_recently_viewed_products ul.product_list_widget,
.widget_recent_reviews ul.product_list_widget li,
.widget_shopping_cart_content ul.product_list_widget li,
form.cart .quantity .minus,
form.cart .quantity .plus,
.shop_table .quantity .minus,
.shop_table .quantity .plus,
.woocommerce-cart-form.responsive .cart-item,
.form-edit-adress-fields,
.woocommerce-cart-form.responsive .coupon,
.woocommerce .checkout_coupon,
.woocommerce .checkout-login-box .login-message-box,
.triangle-with-shadow:after,
.testimonials-style-1-block .sc-testimonials-carousel-wrap,
#calendar_wrap,
#colophon .widget form.searchform,
.widget_recent_comments ul,
.pricing-table-style-2 .highlighted .pricing-title,
.pricing-table-style-2 .pricing-footer,
.pricing-table-style-2 .pricing-price-row,
.pricing-table-style-2 .pricing-price,
.pricing-table-style-3 .pricing-column,
.sc-tabs-style-1 .resp-tabs-container,
.sc-tabs-style-1 .sc_tabs_nav li,
.sc-tour-style-1 > .sc_tour_tabs_wrapper,
.sc-tour-style-1 .sc_tabs_nav li,
.sc-tabs-style-2 .resp-accordion,
.blog-style-timeline .post-text,
.widget .sc-products-content,
.widget_recent_entries ul,
.widget_layered_nav ul,
.blog.blog-style-masonry article .description {
	border: 1px solid #bcbebf;
}
.sc-table thead th,
.sc-table-style-2 .tabletolist.rh > li > .titles,
form.cart .quantity .qty,
.shop_table .quantity .qty,
.woocommerce table.shop_table.order-details,
.woocommerce table.shop_table.order-details tr.cart_item,
.woocommerce table.shop_table.order-details tr.order_item,
.pricing-table-style-2 .pricing-row,
.pricing-table-style-3 .pricing-title,
.pricing-table-style-3 .pricing-price,
.pricing-table-style-3 .pricing-row,
.pricing-table-style-3 .highlighted .pricing-title,
.widget .product-dummy-wrapper,
.sc-tabs-style-2 .resp-tabs-container,
.sc-tabs-style-1 .resp-accordion.resp-tab-active,
.sc-tour-style-1 .resp-accordion.resp-tab-active,
.widget_recent_entries ul li,
.widget_nav_menu ul.menu,
.widget_submenu > div > ul,
.project_info-item-style-2 .value {
	border-bottom: 1px solid #bcbebf;
}
.sc-table-style-2 thead + tbody tr:first-child td,
.sc-table-style-2 thead + tbody tr:first-child th,
.sc-table-style-2 tbody tr + tr td,
.sc-table-style-2  tbody tr + tr th,
.sc-table-style-2 .tabletolist.rh > li +li,
.sc-table-style-2 .tabletolist > li > ul > li + li .row_headers,
.sc-table-style-2 .tabletolist > li > ul > li + li .row_data,
.sc_accordion_section + .sc_accordion_section,
form.cart .quantity .qty,
.shop_table .quantity .qty,
.sc-table .shop_table tr + tr td,
.cart_totals table tr + tr td,
.cart_totals table tr + tr th,
.order-totals table tr + tr td,
.order-totals table tr + tr th,
.woocommerce table.checkout-cart-info-table tr,
.widget_recent_comments li,
.sc-tabs-style-2 .resp-tabs-container,
.sc-tour-style-2 .sc_tabs_nav li + li,
.sc-tour-style-1 .resp-accordion,
.sc-tour-style-2 .resp-accordion,
.sc-tabs-style-1 .resp-accordion,
.wpb_toggle_content + .wpb_toggle,
.widget .product-dummy-wrapper,
.widget_layered_nav ul li,
.widget_nav_menu ul.menu,
.widget_nav_menu ul.menu > li + li,
.widget_nav_menu ul.menu > li > ul > li > ul > li + li,
.widget_nav_menu ul.menu > li > ul > li > ul > li > ul > li > ul > li + li,
.widget_categories > ul > li + li,
.widget_product_categories > ul > li + li,
.widget_pages > ul > li + li,
.widget_categories > ul > li > ul,
.widget_product_categories > ul > li > ul,
.widget_pages > ul > li > ul,
.widget_categories > ul > li > ul > li + li,
.widget_product_categories > ul > li > ul > li + li,
.widget_pages > ul > li > ul > li + li,
.widget_categories > ul > li > ul > li > ul,
.widget_product_categories > ul > li > ul > li > ul,
.widget_pages > ul > li > ul > li > ul,
.widget_submenu > div > ul,
.widget_submenu > div > ul > li + li,
.widget_submenu > div > ul > li > ul > li > ul > li + li,
.widget_submenu > div > ul > li > ul > li > ul > li > ul > li > ul > li + li,
#colophon .widget_nav_menu ul.menu > li > ul,
#colophon .widget_submenu > div > ul > li > ul {
	border-top: 1px solid #bcbebf;
}
.sc-table-style-2 tbody * + td,
.sc-table-style-2 tbody * + th,
.pricing-table-style-2 .pricing-row,
.sc-tour-style-2 .resp-tabs-container,
.sc-tabs-style-2 .sc_tabs_nav li + li,
.widget_nav_menu ul.menu > li > a,
.widget_nav_menu ul.menu > li > ul > li > ul > li > a,
.widget_nav_menu ul.menu > li > ul > li > ul > li > ul > li > ul > li > a,
.widget_submenu > div > ul > li > a,
.widget_submenu > div > ul > li > ul > li > ul > li > a,
.widget_submenu > div > ul > li > ul > li > ul > li > ul > li > ul > li > a,
#colophon .widget_nav_menu ul.menu > li > ul,
#colophon .widget_submenu > div > ul > li > ul {
	border-left: 1px solid #bcbebf;
}
.sc-table-style-2 .tabletolist .row_headers,
.pricing-table-style-2 .pricing-row,
.widget_nav_menu ul.menu > li > a,
.widget_nav_menu ul.menu > li > ul > li > ul > li > a,
.widget_nav_menu ul.menu > li > ul > li > ul > li > ul > li> ul > li > a,
.widget_submenu > div > ul > li > a,
.widget_submenu > div > ul > li > ul > li > ul > li > a,
.widget_submenu > div > ul > li > ul > li > ul > li > ul > li> ul > li > a,
#colophon .widget_nav_menu ul.menu > li > ul,
#colophon .widget_submenu > div > ul > li > ul {
	border-right: 1px solid #bcbebf;
}
.woocommerce .star-rating:before, .woocommerce-page .star-rating:before,
.comment-form-rating .stars a,
.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before {
	color: #bcbebf;
}
form.cart .quantity .minus,
form.cart .quantity .plus,
.shop_table .quantity .minus,
.shop_table .quantity .plus,
.blog-style-timeline article:after {
	background-color: #bcbebf;
}
@media (min-width: 768px) {
	.blog-style-timeline .item-post .post-text:before {
		border-right: 20px solid #bcbebf;
	}
}
@media (max-width: 768px) {
	.blog-style-timeline .item-post .post-text:before {
		border-bottom: 30px solid #bcbebf;
	}
}
@media (max-width: 768px) {
	.blog-style-timeline .post-text:before,
	.blog-style-timeline.blog-style-styled_list1 .post-text:before,
	.blog-style-timeline.blog-style-styled_list2 .post-text:before {
		border-bottom: 30px solid #bcbebf;
	}
}



.product .onsale,
.woocommerce-cart-form .actions .checkout-button,
.widget_shopping_cart_content .buttons a.checkout,
#primary-menu.no-responsive > li.menu-item-cart .widget_shopping_cart_content .buttons a.checkout,
.woocommerce ul.woocommerce-error li:before,
.widget .product_list_widget .onsale,
.shop-widget-area .onsale,
.blog-style-default article.sticky .sticky-label,
.blog-style-default article.sticky .sticky-label:after,
#primary-menu.no-responsive > li.megamenu-enable > ul > li .mega-label,
#primary-navigation #primary-menu > li.menu-item-cart > a .minicart-item-count {
	background-color: #a3b365;
}
.comment-reply-link:before,
.comment-form label em,
.comment-awaiting-moderation,
.woocommerce-before-cart .cart-short-info .items-count,
.shop_table td.product-remove .remove,
.comment-form-rating .stars a.active,
.comment-form-rating .stars a:hover,
.woocommerce .checkout .woocommerce-billing-collumn .form-row label abbr,
.woocommerce .edit-address-form .woocommerce-billing-collumn .form-row label abbr,
.woocommerce ul.woocommerce-error li,
.woocommerce .checkout-login-box .login .form-row label .required,
.woocommerce .checkout-lost-password-box .form-row label .required,
.woocommerce #customer_login .col .login-box .form-row label .required,
.read-more-link:before,
.sc_accordion_header.ui-accordion-header-active .ui-accordion-header-icon:before,
.woocommerce .star-rating span:before,
.woocommerce-page .star-rating span:before,
.form-edit-adress abbr,
.post-author-info .categories a,
.post-author-info .categories,
.block-navigation-prev a:before,
.block-navigation-next a:after,
h4.wpb_toggle_title_active:after,
.resp-accordion.resp-tab-active:after,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links .caption .info a,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links .caption .info span.sep,
.blog.blog-style-masonry article .description .info .more-link:before,
.widget_categories > ul ul ul li > a:hover,
.widget_categories > ul ul ul li.current-cat-ancestor > a,
.widget_categories > ul ul ul li.current-cat-parent > a,
.widget_categories > ul ul ul li.current-cat > a,
.widget_product_categories > ul ul ul li > a:hover,
.widget_product_categories > ul ul ul li.current-cat-ancestor > a,
.widget_product_categories > ul ul ul li.current-cat-parent > a,
.widget_product_categories > ul ul ul li.current-cat > a,
.widget_pages > ul ul ul li > a:hover,
.widget_pages > ul ul ul li.current_page_ancestor > a,
.widget_pages > ul ul ul li.current_page_parent > a,
.widget_pages > ul ul ul li.current_page_item > a,
#colophon .widget_nav_menu ul.menu li.menu-item-current > a,
#colophon .widget_submenu > div > ul li.menu-item-current > a,
#colophon .widget_nav_menu ul.menu li.menu-item-active > a,
#colophon .widget_submenu > div > ul li.menu-item-active > a {
	color: #a3b365;
}
#primary-navigation #primary-menu > li.menu-item-cart > a .minicart-item-count:after {
	border-top-color: #a3b365;
}

#primary-menu.no-responsive > li > a,
.products .product-bottom .add_to_cart_button:before,
.widget_product_search #searchsubmit {
	color: #838a91;
}

#primary-menu.no-responsive > li:hover > a,
#primary-menu.no-responsive > li li.menu-item-parent > a:after,
.portfolio-filters-resp ul li:after {
	color: #A3B365;
}
#primary-menu.no-responsive > li > ul > li> ul a:hover,
#primary-menu.no-responsive > li > ul > li> ul li.menu-item-active > a,
#primary-menu.no-responsive > li > ul > li> ul li.menu-item-current > a,
.widget_nav_menu ul.menu ul li.menu-item-active > a,
.widget_submenu > div > ul ul li.menu-item-active > a {
	background-color: #A3B365;
}
.primary-navigation.responsive li.menu-item-parent > a:after,
.primary-navigation.responsive li.menu-item-parent > span > a:after,
.primary-navigation.responsive li.dl-back:after,
.primary-navigation.responsive li.dl-parent > a:after {
	color: #A3B365;
}

#primary-menu.no-responsive > li.menu-item-current > a,
#primary-menu.no-responsive > li.menu-item-active > a {
	color: #A3B365;
}


#primary-menu.no-responsive > li > ul > li a,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li:hover > a,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li:hover > a:after,
.widget_nav_menu ul.menu li > a,
.widget_submenu > div > ul li > a,
.widget_categories > ul li > a,
.widget_product_categories > ul li > a,
.widget_pages > ul li > a {
	color: #838a91;
}
.primary-navigation.responsive li a {
	color: #838a91;
}

#primary-menu.no-responsive > li > ul > li:hover > a,
.portfolio-filters-resp ul li:hover,
.widget_nav_menu ul.menu li > a:hover,
.widget_nav_menu ul.menu li.menu-item-active > a,
.widget_nav_menu ul.menu li.menu-item-current > a,
.widget_submenu > div > ul li > a:hover,
.widget_submenu > div > ul li.menu-item-active > a,
.widget_submenu > div > ul li.menu-item-current > a,
.widget_categories > ul li > a:hover,
.widget_categories > ul li.current-cat-ancestor > a,
.widget_categories > ul li.current-cat-parent > a,
.widget_categories > ul li.current-cat > a,
.widget_product_categories > ul li > a:hover,
.widget_product_categories > ul li.current-cat-ancestor > a,
.widget_product_categories > ul li.current-cat-parent > a,
.widget_product_categories > ul li.current-cat > a,
.widget_pages > ul li > a:hover,
.widget_pages > ul li.current_page_ancestor > a,
.widget_pages > ul li.current_page_parent > a,
.widget_pages > ul li.current_page_item > a {
	color: #A3B365;
}
.primary-navigation.responsive li a:hover {
	color: #A3B365;
}

#primary-menu.no-responsive > li > ul > li > a,
#primary-menu.no-responsive > li.menu-item-cart > .minicart,
#primary-menu.no-responsive > li.megamenu-enable > ul,
.portfolio-filters-resp ul li,
.widget_nav_menu ul.menu li > a,
.widget_submenu > div > ul li > a {
	background-color: #ffffff;
}
#primary-menu.no-responsive > li > ul ul li:hover > a,
#primary-menu.no-responsive > li > ul ul li:hover > a:after,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li > a:hover,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li > a:hover:after,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li > a:hover:before,
#primary-menu.no-responsive > li > ul ul li.menu-item-active > a,
#primary-menu.no-responsive > li > ul ul li.menu-item-current > a,
#primary-menu.no-responsive > li > ul ul li.menu-item-active > a:after,
#primary-menu.no-responsive > li > ul ul li.menu-item-current > a:after,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li.menu-item-active > a,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li.menu-item-current > a,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li.menu-item-active > a:after,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li.menu-item-current > a:after,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li.menu-item-active > a:before,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li.menu-item-current > a:before,
#primary-menu.no-responsive > li.megamenu-enable > ul > li .mega-label,
.widget_nav_menu ul.menu ul li.menu-item-active > a,
.widget_nav_menu ul.menu ul li.menu-item-active > a:before,
.widget_submenu > div > ul ul li.menu-item-active > a,
.widget_submenu > div > ul ul li.menu-item-active > a:before {
	color: #ffffff;
}
.primary-navigation.responsive li a,
.primary-navigation.responsive li.menu-item-cart .minicart {
	background-color: #ffffff;
}
.widget_nav_menu ul.menu > li > ul > li + li,
.widget_nav_menu ul.menu > li > ul > li > ul > li > ul > li + li,
.widget_submenu > div > ul > li > ul > li + li,
.widget_submenu > div > ul > li > ul > li > ul > li > ul > li + li {
	border-top: 1px solid #ffffff;
}

#primary-menu.no-responsive > li > ul > li:hover > a,
#primary-menu.no-responsive > li > ul > li> ul a,
#primary-menu.no-responsive > li > ul > li.menu-item-active > a,
#primary-menu.no-responsive > li > ul > li.menu-item-current > a,
.widget_nav_menu ul.menu > li > ul > li > a,
.widget_nav_menu ul.menu > li > ul > li > ul > li > ul > li > a,
.widget_submenu > div > ul > li > ul > li > a,
.widget_submenu > div > ul > li > ul > li > ul > li > ul > li > a {
	background-color: #F0F0ED;
}
.primary-navigation.responsive li a:hover,
.primary-navigation.responsive li.dl-back a:hover,
.primary-navigation.responsive li a:focus,
.primary-navigation.responsive li.dl-back a:focus,
.primary-navigation.responsive li a:active,
.primary-navigation.responsive li.dl-back a:active,
.primary-navigation.responsive li.menu-item-active > a,
.primary-navigation.responsive li.menu-item-current > a {
	background-color: #F0F0ED;
}


#primary-menu.no-responsive > li.megamenu-enable > ul > li span.megamenu-column-header a.megamenu-has-icon:before,
#primary-menu.no-responsive > li.megamenu-enable > ul > li > ul > li > a:before {
	color: #99A3B0;
}

body,
.sc-gallery-hover-zooming-blur .sc-gallery-preview-carousel-wrap .sc-gallery-item .sc-gallery-caption,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links .caption .title,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links .caption .subtitle,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links .caption .info,
.sc-gallery-grid.hover-zooming-blur .gallery-item .overlay .title,
.sc-gallery-grid.hover-zooming-blur .gallery-item .overlay .subtitle,
.products .product-bottom .add_to_cart_button,
.products .product-bottom .added_to_cart,
.shipping_calculator .shipping-calculator-button,
.widget_shopping_cart_content ul.cart_list li a,
.shop-widget-area .sc-products-title a,
.woocommerce-page ul.product_list_widget li a,
.portfolio.hover-horizontal-sliding .overlay .links .caption .info a,
.portfolio.hover-horizontal-sliding .overlay .links .caption .info span.sep {
	color: #838a91;
}
.sc-gallery-hover-zooming-blur .sc-gallery-preview-carousel-wrap .sc-gallery-item a:after,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links a.icon:before,
.sc-gallery-grid.hover-zooming-blur .gallery-item .overlay a.icon:before {
	background-color: #838a91;
}

h1,
.title-h1,
.sc-counter-number,
.sc-testimonial-item:after,
blockquote p:after,
.testimonials-style-1-teg,
.testimonials-style-2-teg,
.pricing-title {
	color: #000000;
}

h2,
.title-h2 {
	color: #000000;
}
.ui-slider-range.ui-widget-header.ui-corner-all,
.ui-slider-handle.ui-state-default.ui-corner-all,
.skill-line > div {
	background-color: #000000;
}

h3,
.title-h3 {
	color: #000000;
}

h4,
.title-h4 {
	color: #000000;
}

h5,
.title-h5 {
	color: #000000;
}

h6,
.title-h6 {
	color: #000000;
}

a {
	color: #97a659;
}

a:hover {
	color: #000000;
}

a:active {
	color: #000000;
}

#footer-navigation li a {
	color: #838a91;
}

.footer-site-info {
	color: #bcbebf;
}

.footer-site-info a {
	color: #97a659;
}

.page-title-block {
	background-color: #ffffff;
}

.page-title-block,
.page-title-title h1,
.page-title-excerpt {
	color: #000000;
}

.top-area {
	color: #384554;
}
#primary-navigation .menu-toggle:after,
.portfolio-filters-resp button:after {
	background: #384554;
	box-shadow: 0 10px 0 0 #384554, 0 20px 0 0 #384554;
}

.team-person-position,
.sc-news-item-date,
.sc-testimonial-position,
.sc-testimonial-company,
.single-product-content .price,
.sc-pp-posts-date,
.jtwt_date,
.sc-latest-news-title > span,
.sc-teams-position,
.blog.blog-style-timeline .comments,
.entry-date,
.portfolio-filters a,
.comments-link a,
.widget_recent_entries .post-date,
.post-author-info .date,
.block-date,
.block-tags .sep,
.styled-blog-meta .comments:after,
.related-element-info .date,
.login label,
.register label,
.form-edit-adress label,
.teaser_grid_container .sc-post-date,
.sc-post-grid-item-date,
.page-title-style-2 .page-title-excerpt,
.blog.blog-style-masonry article .description .info .date,
.blog.blog-style-masonry article .description .info .sep,
.blog.blog-style-masonry article .description .info .comments,
.widget_categories > ul li,
.widget_product_categories > ul,
.widget_pages > ul,
.gallery-caption {
	color: #c5c6c8;
}

.blog.blog-style-timeline article .comments:before,
.widget .sc-contacts-email:before,
.widget .sc-contacts-phone:before,
.widget .sc-contacts-address:before,
.widget .sc-contacts-fax:before,
.top-area-search .searchform button:before,
.blog.blog-style-masonry article .description .info .comments:before,
.blog-style-default .post-image .sc-dummy:after {
	color: #bcbebf;
}

.project_info-item-style-1 .project_info-item .icon,
.widget_recent_comments li:before,
.widget_recent_entries ul li:before,
.portfolio-filters a .icon,
.comment-form label:before,
.jtwt_tweet:before,
.socials-sharing a:after {
	color: #bcbebf;
}
.socials-sharing a {
	border: 2px solid #bcbebf;
}
.socials-sharing a:hover {
	background-color: #bcbebf;
}

.sc-button,
input[type='submit'],
.page-links a,
.blog-load-more button span,
.blog-load-more button span:before,
.blog-style-default .comments-link a,
.widget a.sc-button,
#primary-menu.no-responsive > li.menu-item-cart .widget_shopping_cart_content .buttons a.checkout,
.price_slider_amount .button {
	color: #97a659;
}

.sc-button:hover,
input[type='submit']:hover,
.page-links a,
.blog-load-more button span:hover,
.blog-style-default .comments-link a,
.widget a.sc-button:hover,
#primary-menu.no-responsive > li.menu-item-cart .widget_shopping_cart_content .buttons a:hover,
.price_slider_amount .button:hover {
	color: #ffffff;
}

.sc-button:active,
input[type='submit']:active,
.page-links a,
.blog-load-more button span:active,
.blog-style-default .comments-link a,
.widget a.sc-button:active,
#primary-menu.no-responsive > li.menu-item-cart .widget_shopping_cart_content .buttons a:active,
.price_slider_amount .button:active {
	color: #ffffff;
}

.sc-button,
input[type='submit'],
.radio-sign.checked:before,
.page-links a,
.blog-load-more button,
.blog-style-default .comments-link a,
.price_slider_amount .button {
	background-color: #ffffff;
}
.checkbox-sign.checked:before {
	color: #ffffff;
}
.blog-load-more .sc-button-separator,
.blog-load-more .sc-button-separator,
.portfolio-load-more .sc-button-separator,
.portfolio-load-more .sc-button-separator {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.sc-button:hover,
input[type='submit']:hover,
.page-links a,
.blog-load-more button:hover,
.blog-style-default .comments-link a,
.price_slider_amount .button:hover {
	background-color: #A3B365;
}

.sc-button:active,
input[type='submit']:active,
.page-links a,
.blog-load-more button:active,
.blog-style-default .comments-link a,
.price_slider_amount .button:active {
	background-color: #A3B365;
}

.widget-title {
	color: #000000;
}

.widget a {
	color: #97a659;
}

.widget a:hover {
	color: #000000;
}

.widget a:active {
	color: #000000;
}

#colophon {
	background-color: #eceff2;
}

#colophon .widget-title {
	color: #000000;
}

#colophon .widget,
#colophon .widget .sc-testimonial-position,
#colophon .widget .sc-pp-posts-date,
#colophon .widget .jtwt_date,
#colophon .widget .sc-latest-news-title > span,
#colophon .widget .sc-teams-position,
#colophon .widget.widget_recent_entries .post-date {
	color: #838a91;
}

#colophon .widget a,
#colophon .sc-contacts .sc-contacts-item:before {
	color: #97a659;
}

#colophon .widget a:hover {
	color: #000000;
}

#colophon .widget a:active {
	color: #000000;
}

.sc-prev:after,
.sc-next:after,
.sc-prev:hover,
.sc-next:hover,
.portfolio.portfolio-slider .portolio-slider-prev span,
.portfolio.portfolio-slider .portolio-slider-next span,
.sc-pagination .prev:after,
.sc-pagination .next:after {
	color: #000000;
}



.portfolio-item .caption .title,
.blog.blog-style-masonry article .description .title,
.blog.blog-style-masonry article .description .title a {
	color: #000000;
}

.portfolio-item .caption .subtitle,
.blog.blog-style-masonry article .description .summary {
	color: #838a91;
}

.portfolio-item .image .button.active,
.portfolio-item .image .button.active .button-corner span {
	border-bottom-color: #000000;
}
.portfolio-item .image .share {
	background-color: #000000;
}

.portfolio-item .caption .info {
	color: #838a91;
}





.vc_images_carousel .vc_carousel-control .icon-prev:before,
.vc_images_carousel .vc_carousel-control .icon-next:before,
.nivo-directionNav .sc-prev:after,
.nivo-directionNav .sc-next:after,
.ls-scalia a.ls-nav-prev:after,
.ls-scalia a.ls-nav-next:after {
	color: #ff7070;
}

.sc-image a:before,
.sc-gallery .sc-gallery-preview-carousel-wrap .sc-gallery-item a:before,
.portfolio-item .image .overlay,
.gallery-item .overlay,
.products .product-image:before,
.widget .flickr-item a:before,
div.blog article a.youtube:before,
div.blog article a.vimeo:before,
div.blog article a.self_video:before,
div.blog article a.default:before,
.widget .sc-pp-posts a:before,
.widget .sc-latest-news-image a:before {
		background-color: rgba(223, 223, 215, 0.8);
	}

.sc-gallery-hover-zooming-blur .sc-gallery-preview-carousel-wrap .sc-gallery-item a:before,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay,
.sc-gallery-grid.hover-zooming-blur .gallery-item .overlay {
		background-color: rgba(223, 223, 215, 0.8);
	}

.portfolio.hover-horizontal-sliding .overlay {
		background-color: rgba(255, 112, 112, 0.8);
	}

.portfolio.hover-vertical-sliding .overlay {
		background-color: rgba(56, 69, 84, 0.8);
	}

.quickfinder-item-title,
.quickfinder-item-title a,
.project_info-item-style-2 .title {
	color: #000000;
}

.quickfinder-item-text,
.quickfinder-item-text a {
	color: #838a91;
}

.widget_archive li:before,
.widget_nav_menu ul.menu li > a:before,
.widget_submenu > div > ul li > a:before,
.widget_categories > ul li > a:before,
.widget_product_categories > ul li:before,
.widget_pages > ul li > a:before,
.widget_meta li:before,
.widget_rss li:before,
.project_info-item-style-2 .icon,
.sc_accordion_header .ui-accordion-header-icon:before,
.wpb_toggle:after,
.widget_layered_nav ul li a:before,
.widget .sc-contacts-address:before,
.widget .sc-contacts-phone:before,
.widget .sc-contacts-fax:before,
.widget .sc-contacts-email:before,
.widget .sc-contacts-website:before,
.resp-accordion:after {
	color: #97a659;
}

.sc-icon,
.woocommerce-message:before,
.woocommerce-info:before {
	color: #97a659;
}

.quickfinder-item-text,
.quickfinder-item-text a {
	color: #838a91;
}

.sc-pagination a {
	border: 1px solid #bcbebf;
}

.sc-pagination a {
	color: #97a659;
}

.sc-pagination a:hover,
.sc-pagination .current {
	color: #ffffff;
}

.sc-pagination a:hover,
.sc-pagination .current {
	background-color: #a3b365;
}
.sc-pagination a:hover,
.sc-pagination .current {
	border-color: #a3b365;
}

.blog article a.default:after,
.gallery-item .overlay .title,
.gallery-item .overlay .subtitle,
.gallery-item .overlay .subtitle a,
.sc-gallery-hover-default .sc-gallery-preview-carousel-wrap:hover .sc-prev:after,
.sc-gallery-hover-default .sc-gallery-preview-carousel-wrap:hover .sc-next:after,
.sc-gallery-hover-default .sc-gallery-preview-carousel-wrap .sc-gallery-item a:after,
.sc-gallery-hover-default .sc-gallery-preview-carousel-wrap .sc-gallery-item .sc-gallery-caption,
.portfolio-item .image .overlay .links a.icon:before,
.portfolio.hover-title .portfolio-item .caption .title,
.portfolio.hover-title.columns-4 .portfolio-item .caption .title,
.portfolio.hover-title .portfolio-item .caption .subtitle,
.products .product-image:after {
	color: #000000;
}
.portfolio .portfolio-item .overlay-line {
	background-color: #000000;
}

.sc-mini-pagination a,
.flexslider .flex-control-paging li a,
.flexslider .flex-control-paging li a:hover,
.vc_carousel-indicators li {
	background-color: #848b92;
}

.sc-mini-pagination a.selected,
.sc-mini-pagination a.active,
.flexslider .flex-control-paging li a.flex-active,
.flexslider .flex-control-paging li a.flex-active:hover,
.vc_carousel-indicators .vc_active {
	background-color: #a3b365;
}

.footer-socials-item a:after,
#colophon .sc-custom-mailchimp input[type="email"] {
	color: #848b92;
}
#colophon .sc-custom-mailchimp button {
	background-color: #848b92;
}

.footer-socials-item a:hover:after,
.footer-socials-item a:active:after {
	color: #a3b365;
}

.top-area-socials .socials-item a:after,
.top-area-contacts .sc-contacts-address:before,
.top-area-contacts .sc-contacts-phone:before,
.top-area-contacts .sc-contacts-fax:before,
.top-area-contacts .sc-contacts-email:before {
	color: #99A3B0;
}

.top-area-socials .socials-item a:hover:after,
.top-area-socials .socials-item a:active:after {
	color: #384554;
}

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
textarea,
.combobox-wrapper,
.chosen-container,
.checkbox-sign,
.radio-sign {
	background-color: #ffffff;
}
.combobox-wrapper .combobox-button:before,
.chosen-container-single .chosen-single div:before {
	color: #ffffff;
}

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
textarea,
select,
.combobox-wrapper .combobox-text,
.chosen-container-single .chosen-single,
.widget_product_search form:before {
	color: #838a91;
}

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
textarea,
.checkbox-sign,
.radio-sign,
.combobox-wrapper,
.chosen-container-single .chosen-single {
	border: 1px solid #bcbebf;
}
.combobox-wrapper .combobox-button,
.chosen-container-single .chosen-single div,
.edit-address-form .form-row .chosen-container-single .chosen-single div {
	background-color: #bcbebf;
}

body {
	background-image: url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/images/bg.png');
}

#page {
	background-image: url('http://scalia-wptheme.loc/wp-content/themes/scalia-dear-diary-child/images/paper-edge.png');
}





.preloader:after,
.loading:after {
	background-image: url('http://scalia-wptheme.loc/wp-content/themes/scalia/images/preloader-2.gif');
}

.sc-button,
input[type='submit'],
#primary-menu.no-responsive > li ul,
#colophon .sc-custom-mailchimp input[type="email"] {
	border: 1px solid #bcbebf;
}
.blog-load-more .sc-button-separator,
.blog-load-more .sc-button-separator,
.portfolio-load-more .sc-button-separator,
.portfolio-load-more .sc-button-separator,
#primary-menu.no-responsive {
	border-top: 1px solid #bcbebf;
	border-bottom: 1px solid #bcbebf;
}

.sc-gallery-hover-zooming-blur .sc-gallery-preview-carousel-wrap .sc-gallery-item a:after,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links a.icon:before,
.sc-gallery-grid.hover-zooming-blur .gallery-item .overlay a.icon:before,
.blog.blog-style-default article a.default:after,
.blog-style-default article .post-image .sc-dummy:after {
	background-color: #ffffff;
}
.footer-socials-item a:after,
.footer-socials-item a:hover:after,
#main .blog-style-default .blog-post-date-day {
	color: #ffffff;
}

.footer-socials-item a,
#main .blog-style-default .blog-post-date {
	background-color: #848b92;
}
#colophon {
	border-bottom: 15px solid #848b92;
}

.sc-gallery-hover-zooming-blur .sc-gallery-preview-carousel-wrap .sc-gallery-item .sc-gallery-caption,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links .caption .title,
.sc-gallery-grid.hover-zooming-blur .gallery-item .overlay .title,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links .caption .subtitle,
.portfolio.hover-zooming-blur .portfolio-item .image .overlay .links .caption .info,
.sc-gallery-grid.hover-zooming-blur .gallery-item .overlay .subtitle {
	color: #000000;
}

.footer-socials-item a:hover {
	background-color: #a3b365;
}

.footer-widget-area .widget-title,
.blog-style-timeline .post-time {
	font-family: 'Aileron UltraLight';
}

.footer-widget-area .widget-title,
.blog-style-timeline .post-time {
	font-weight: normal;
}

.footer-widget-area .widget-title,
.blog-style-timeline .post-time {
	font-size: 32px;
}

.footer-widget-area .widget-title {
	line-height: 46px;
}

.sc-testimonial-text {
	color: #000000;
}

#main .blog-style-timeline .post-time span {
	color: #000000;
}

.blog-style-default .entry-info,
.blog.blog-style-masonry article .description .info,
.blog.blog-style-timeline .styled-blog-meta,
#colophon .sc-custom-mailchimp input[type="email"] {
	line-height: 33px;
}

#main .blog-style-default .blog-post-date-day {
	font-family: 'Aileron UltraLight';
}

#main .blog-style-default .blog-post-date-day {
	font-weight: normal;
}

#main .blog-style-default .blog-post-date-day {
	font-size: 38px;
}

.blog-style-default article .post-image .sc-dummy,
.blog-style-default article.no-image .post-image .sc-dummy,
.testimonials-style-1-block .sc-testimonials-carousel-wrap,
.triangle-with-shadow:after {
	background-color: #f0f0ed;
}

#main .blog-style-default article + article,
#main .blog-style-default article.sticky + article:before,
#main .blog-style-default .comments-link:after,
#main .blog-style-default article.sticky .comments-link:before,
.sc-testimonial-image:before,
.sc-testimonial-image:after {
	border-top: 1px solid #bcbebf;
}

#main .blog-style-default .comments-link a,
.blog article .entry-title a:hover,
.portfolio-item .caption .title,
.blog.blog-style-masonry article .description .title,
.blog.blog-style-masonry article .description .title a:hover {
	color: #97a659;
}

#main .blog-style-default .comments-link a:hover,
.blog article .entry-title a {
	color: #000000;
}

#main .blog-style-default .comments-link a:active {
	color: #000000;
}

#colophon .sc-custom-mailchimp input[type="email"] {
	background-color: #ffffff;
}

.sc_accordion_header a {
	color: #838a91;
}

#colophon .widget .sc-contacts-email:before,
#colophon .widget .sc-contacts-phone:before,
#colophon .widget .sc-contacts-address:before,
#colophon .widget .sc-contacts-fax:before,
#colophon .widget .sc-contacts-website:before {
	color: #838a91;
}

.diagram-circle .text div,
.diagram-circle .text div span.title {
	font-family: 'Aileron Thin';
}

.diagram-circle .text div,
.diagram-circle .text div span.title {
	font-weight: normal;
}

.diagram-circle .text div,
.diagram-circle .text div span.title,
.diagram-circle .text div span.summary{
	color: #000000;
}

.diagram-circle .text div,
.diagram-circle .text div span.summary {
	font-family: 'Arvo';
}

.diagram-circle .text div,
.diagram-circle .text div span.summary {
	font-weight: normal;
}

.diagram-circle .text div,
.diagram-circle .text div span.summary {
	color: #838a91;
}
