@font-face {
	font-family: 'scalia-icons';
	src:url('../fonts/scalia-dear-diary-icons.eot?-yiqymz');
	src:url('../fonts/scalia-dear-diary-icons.eot?#iefix-yiqymz') format('embedded-opentype'),
		url('../fonts/scalia-dear-diary-icons.woff?-yiqymz') format('woff'),
		url('../fonts/scalia-dear-diary-icons.ttf?-yiqymz') format('truetype'),
		url('../fonts/scalia-dear-diary-icons.svg?-yiqymz#scalia-dear-diary-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}


