/*
Theme Name: Scalia Zaro Child
Description: Multi-Purpose Wordpress Theme
Author: Codex Themes.
Theme URI: http://codex-themes.com/scalia/zaro/
Author URI: http://codex-themes.com/scalia/
Template: scalia
Version: 1.1.2
Tags: one-column, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, theme-options, translation-ready, dark, light
License: GNU General Public License
License URI: license.txt
*/

body.blog {
    margin: 0;
    padding: 0;
}


.onsale {
    color: #ffffff;
    font-family: "Josefin Slab";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.products .product-info {
    text-align: center;
    font-size: 89.5%;
    line-height: 1.421;
    margin-bottom: 12px;
    margin-top: 7px;
    min-height: 1.421em;
}

.products .product-info .product-categories {
    font-size: 89.5%;
    line-height: 1.421;
    margin-bottom: 19px;
    margin-top: 7px;
    min-height: 1.421em;
}
.sc_accordion_header a {
    text-transform: none !important;
}
.site-footer .sc-products-image {
    display: table-cell;
}
.site-footer .sc-products-content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

 .site-footer .onsale {
     background-color: #7d8170;
     color: #ffffff;
     font-family: "Josefin Slab";
     text-transform: uppercase;
     font-size: 16px;
 }

.site-footer .onsale {
    border-radius: 50%;
    font-size: 0;
    height: 30px;
    position: absolute;
    right: -8px;
    top: -13px;
    width: 30px;
    z-index: 1;
}
.site-footer.site-footer .sc-products-content {
    border: 0 none;
    background-color: #000000;
}
.site-footer .sc-products-price .amount {
    color: #cac9c1;
}


.sc-news-item-right {
    margin-left: 92px;
    max-height: 6.9em;
    overflow: hidden;
    padding-top: 4px;
}
.sc-news-item-date {
    font-size: 89.5%;
    line-height: 1.421;
    margin-top: 15px;
}
.site-footer .widget_recently_viewed_products ul.product_list_widget {
    border: none !important;
}
.site-footer .widget_recently_viewed_products ul.product_list_widget li {
    margin-bottom: 27px !important;
    padding: 0px !important;
}
.site-footer .widget_recently_viewed_products ul.product_list_widget li:last-child {
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.site-footer .widget_recently_viewed_products ul.product_list_widget li .sc-products-image {
    border-radius: 0px !important;
}
.woocommerce .sc-products-price span {
    font-size: 17px !important;
}

.product_list_widget .onsale:after,
.product_list_widget .onsale {
    font-size: 28px;
}
.products .product-categories a:last-child {
    color: #a1a097;
}
.custom-text-box .sc-textbox-content {
    padding-left: 85px;
    padding-top: 13px;
}
.product-info .star-rating {
    margin: 0 auto;
}
.site-footer .sc-contacts {
    margin-top: 0;
}

.products-category-item mark {
    clear: both;
    display: block;
    text-align: center;
    background-color: transparent;
    margin-top: -10px;
}
.products-category-item h3 {
    text-align: center;
}
.products-category-item .product-info{
    padding-top: 0px;
}
.products-category-item .product-info h4{
    line-height: 27px;
}

.site-footer .widget_recent_reviews   li {
    background-color: #000;
    border: medium none !important;
    padding-top: 0;
    margin-bottom: 32px;

}
.products-category-item .product-info.clearfix > h4 {
    text-transform: uppercase;
}
.products .product-info {
    margin-bottom: 0px;
    margin-top: 0px;

}


.widget_shopping_cart_content .buttons a, #primary-menu.no-responsive > li.menu-item-cart .widget_shopping_cart_content .buttons a {
    display: inline-block;
    float: left;
    font-size: inherit !important;
    margin-right: 21px;
    padding: 2px 12px 2px 37px;
}


.widget-title {
    text-transform: uppercase;
}

.site-footer .widget-title {
    font-weight: 600;
}
.product_list_widget .onsale:after, .product_list_widget .onsale {
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}
.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    line-height: 1 !important;
}
h2, .title-h2 {
    margin: 0.17em 0;
}
.fullwidth-block.products-page-separator {
    display: none;
}
.single-product-content-right del {
    display: block;
    float: left;
    padding-right: 10px;
    padding-top: 15px;
}
.single-product-content .woocommerce-product-rating {
    margin-bottom: 15px;
}
.single-product-content .price {
    margin-top: 20px !important;
}
.single-product-content .price del {
    font-size: 28px !important;
}
.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50%;
    height: 20px !important;
    margin-top: -10px !important;
    width: 20px !important;
}

.single-product .fullwidth-block  .block-divider {
    margin-bottom: 54px !important;
}
.single-product .related-products h2 {
    margin-bottom: 40px !important;
}
.site-footer .widget-title {
    font-size: 26px;
}

.single-product-content .price {
    font-size: 50px !important;
}

.sc-tour.sc-tour-style-2 .sc_tabs_nav li.resp-tab-active:before {
    content: "";
    float: left;
    font-family: "scalia-icons";
    font-size: 15px;
    margin-left: -5px;
    margin-top: -4px;
    padding-right: 5px;
}
#colophon .sc-custom-mailchimp input[type="email"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 52px !important;
    margin-top: 25px;
    width: 50%;

}
.sc-dropcap .sc-dropcap-letter {
    border-radius: 50px;
    float: left;
    font-size: 94.445%;
    height: 70px;
    line-height: 79px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 70px;
}
.footer-site-info {
    float: right;
    padding-top: 14px;
}
.widget_categories > ul li:before, .widget_product_categories > ul li:before, .widget_pages > ul li:before {
    content: "";
    display: inline-block;
    font-size: 9px !important;
    margin-left: -30px;
    text-align: center;
    vertical-align: top;
    width: 30px;
}
.block-divider {
    background: url("images/divider-wave-1.png") repeat-x scroll 50% 0 rgba(0, 0, 0, 0) !important;
}
.primary-navigation li a:after {
    font-size: 9px !important;
}
.widget_nav_menu ul.menu li.menu-item-parent > a:before, .widget_submenu > div > ul li.menu-item-parent > a:before, .widget_categories > ul li.cat-parent:before, .widget_product_categories > ul li.cat-parent:before, .widget_pages > ul li.page_item_has_children:before {
    font-family: "scalia-icons";
    font-size: 9px !important;
    font-weight: normal;
}
.widget_archive li:before, .widget_meta li:before {
    content: "";
    font-family: "scalia-icons";
    font-size: 9px !important;
    font-weight: normal;
    padding-right: 8px;
    position: relative;
    top: -3px;
    vertical-align: middle;
}

.widget .sc-contacts-address:before, .widget .sc-contacts-phone:before, .widget .sc-contacts-email:before{
    content: "";
    display: inline-block;
    font-family: scalia-icons;
    font-size: 15px !important;
    padding-right: 12px;
}
.widget .onsale:after, .shop-widget-area .onsale {
    content: "%";
    font-size: 27px !important;
    font-weight: 100;
    line-height: 27px !important;
    text-align: center;
}
.pricing-table-style-1 .pricing-column-top-choice {
    background-image: url("images/zaro-pr-lable.png") !important;
}
.pricing-table-style-2 .pricing-column-top-choice {
    background-image: url("images/zaro-pr-lable.png") !important;
}

.ls-scalia a.ls-nav-prev:after {
    content: "\e62d";
    font-size: 27px;
}
.ls-scalia a.ls-nav-next:after {
    content: "\e62c";
    font-size: 27px;
}
.nivo-directionNav:after,
.nivo-directionNav:after,
.ls-scalia a.ls-nav-prev:after,
.ls-scalia a.ls-nav-next:after {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.nivo-directionNav .sc-prev,
.nivo-directionNav .sc-next,
.ls-scalia a.ls-nav-prev,
.ls-scalia a.ls-nav-next {
	width: 72px;
}

.portfolio-item .image .overlay .links a.full-image:before {
    content: '\e64b' !important;
}
.portfolio-item .image .overlay .links a.youtube:before,
.portfolio-item .image .overlay .links a.vimeo:before,
.portfolio-item .image .overlay .links a.self_video:before {
    content: '\e64d' !important;
}
.portfolio-item .image .overlay .links a.outer-link:before {
    content: '\e64a' !important;
}
.portfolio-item .image .overlay .links a.self-link:before {
    content: '\e64f' !important;
}
.portfolio-item .image .overlay .links a.inner-link:before {
    content: '\e65a' !important;
}


.team-person-email a:before {
    content: "\e626 ";
    font-family: "scalia-icons";
    font-size: 17px !important;
    padding-right: 10px;
    font-weight: normal;
    vertical-align: middle;
}
.sc-list > ul > li:before {
    font-size: 0.5em !important;
    color: #000000;
}
.styled-title {
    font-size: 70px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 55px !important;
    }
    h2 {
        font-size: 55px !important;
    }
    .styled-title {
        font-size: 55px !important;
    }

}
.products-category-item img{
    width: 270px;
    height: 190px;

}

.project_info-item-style-2 .title .icon {
    float: left;
    font-family: scalia-user-icons;
    font-size: 27px;
    margin-right: 5px;
    margin-top: -1px;
}
