#site-header-wrapper {
	position: static;
	z-index: 1000;
	width: 100%;
}

#site-header-wrapper.header-on-slideshow {
	position: static !important;
	height: 0 !important;
	background-color: transparent;
}

#site-header.header-on-slideshow.init {
	top: 0 !important;
}

#site-header.header-on-slideshow {
	background: transparent;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
}

#site-header.animated-header.fixed {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}
@media (min-width: 1260px) {
	#page.layout-boxed #site-header.fixed {
		width: 1260px;
		left: 50%;
		margin-left: -630px;
		padding: 0 30px;
	}
}

#site-header.fixed.shrink {
	box-shadow: 0 0 2px 0 rgba(56, 69, 84, 0.2);
	-moz-box-shadow: 0 0 2px 0 rgba(56, 69, 84, 0.2);
	-webkit-box-shadow: 0 0 2px 0 rgba(56, 69, 84, 0.2);
	border-collapse: separate;
}

#site-header.fixed #primary-menu > li > a {
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}

#site-header.fixed.scroll-counting #primary-menu > li > a {
	-webkit-transition: all 0s !important;
	-moz-transition: all 0s !important;
	transition: all 0s !important;
}

#site-header.fixed.shrink #primary-menu > li > a {
	padding-top: 28px;
	padding-bottom: 28px;
}

#site-header .site-title a {
	white-space: nowrap;
}

#site-header .logo-position-right .site-title a {
	text-align: right;
}

#site-header .site-title a img {
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#site-header .site-title a img.small {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	position: relative;
}

#site-header.fixed.shrink .site-title a img.default {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

#site-header .site-title a img.small {
	display: none;
}

#site-header.fixed.shrink .site-title a img.small {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

#site-header.fixed.shrink .logo-position-center .site-title {
	display: none;
}

.site-title .logo {
	display: inline-block;
	vertical-align: middle;
	min-height: 1px;
	min-width: 1px;
}
.site-title .logo-2x,
.site-title .logo-3x {
	display: none;
	visibility: hidden;
}

@media (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
	.site-title .logo-2x {
		display: inline-block;
	}
	.site-title .logo-1x,
	.site-title .logo-3x {
		display: none;
	}
}
@media (min--moz-device-pixel-ratio: 2.5),
(-o-min-device-pixel-ratio: 5/2),
(-webkit-min-device-pixel-ratio: 2.5),
(min-device-pixel-ratio: 2.5),
(min-resolution: 2.5dppx) {
	.site-title .logo-3x {
		display: inline-block;
	}
	.site-title .logo-1x,
	.site-title .logo-2x {
		display: none;
	}
}
