/*
Theme Name: Scalia Scrollex Child
Description: Multi-Purpose Wordpress Theme
Author: Codex Themes.
Theme URI: http://codex-themes.com/scalia/scrollex/
Author URI: http://codex-themes.com/scalia/
Template: scalia
Version: 1.1.2
Tags: one-column, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, theme-options, translation-ready, dark, light
License: GNU General Public License
License URI: license.txt
*/

#primary-menu.no-responsive > li > a,
#footer-menu > li > a {
	text-transform: uppercase;
}
#primary-menu.no-responsive > li > a:before,
#footer-menu > li > a:before {
	content: '\2022';
	margin-right: 5px;
}

.home-constructor .block-content {
	padding: 0;
	overflow: hidden;
}

.vc_controls {
	line-height: 0;
}

#colophon .widget-title {
	text-align: center;
}

#footer-navigation {
	padding-bottom: 45px;
}

.footer-widget-area .widget > * {
	font-size: 81%;
}

#footer-socials {
	float: none;
}

.footer-socials-item {
	margin-right: 70px;
}

.footer-socials-item a:after {
	font-size: 36px;
}
.diagram-legend .legend-element .color {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.team-person-name,
.team-person-phone,
.sc-teams-name,
.sc-teams-phone {
    font-size: 38px !important;
    line-height: 40px !important;
}




ul:not(.styled) li {
	margin-bottom: 0.5em;
}

.project_info-item .title {
	font-size: 38px;
	line-height: 40px;
}
